*{
    margin: 0;
    padding: 0;
    border: none;
}

/* navbar and log */
header{
    background-color: #fff;
    width: 100%;
    border-bottom: 4px groove;
    height: 70px;
    /* height: 100vh;
    
    background-image:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0)), url('../image/hero-pic.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center; */
    
}
#logo, nav{
    line-height: 40px;
    display: inline-block;
}
nav{
    float: right;
    margin-right: 3rem;
}

nav ul li{
    list-style-type: none;
    display: inline-block;
    padding: 28px 5px;
}
li a{
    /* padding: 25px 10px; */
    margin: 2rem 1.5rem;
    text-decoration: none;
    color: #000;
    font-weight: bold;
    text-align: center;
}

li a:hover{
    text-transform: uppercase;
}

#logo{
    margin: -1.5rem;
}

/* hero section  */
.hero-image{
    height: 90vh;
    width: 100%;
    background-image: url('../image/hero-image.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center
}

.hero-text{
    position: absolute;
    left: 50%;
    top: 60%;
    transform: translate(-50%, -50%);
    font-size: 3rem;
    font-weight: 800;
}
span{
    position: absolute;
    right: 60%;
    transform: translate(65%, 110%);
    line-height: 56px;
    font-weight: 800;
    font-size: 3.5rem;
    line-height: 56px;
    background: linear-gradient(266.52deg, #F174FC 57.51%, #10CFFC 78.55%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    text-transform: uppercase;
}

/* about me section */
#about-me{
    /* height: 40vh;
    width: 100%;
    background-color: #10CFFC;
    margin: 3rem;
    padding: 2rem; */
    background-color: #eee;
    height: 50vh;
    width: 80%;
    display: block;
    padding: 40px 40px;
    margin: auto;
    margin-top: 3rem;
}
/* 
.about-me-text, 
.about-me-image{
    height: 30vh;
    width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    right: 80%;
} */

.about-me-text{
    float:left;
    font-size: 20px;
    /* line-height: 1rem;
    text-align: center; */

    width: 55%;
}

.about-me-image{
    /* background-image: url('../image/about-me-image.png');
    background-size: contain;
    background-repeat: no-repeat; */
    /* background-position: center; */
    float:right;
    width: 40%;
}

.about-me-image 
img{
    width: 100%;
    height: auto;
}

.about-me-text
.title{
    text-transform: capitalize;
    font-size: 25px;
    text-align: center;
    padding: 1rem;
}

/* recipe section */

#recipe-section{
    background-image: url('/assets/image/hero-image.jpg');
    background-repeat: no-repeat;

}

h2{
    text-align: center;
    padding-top: 2rem;
}

.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 2rem;
}

.card{
    width: 270px;
    height: 400px;
    margin: 10px;
    border-radius: 15px;
    /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); */
    background-color: #fff;
}

.card
img{
    height: 50%;
    width: 100%;
    /* margin-bottom: 10px; */
    background-size: cover;
    border-radius: 15px 15px 0 0;
}

.card-contents{
    text-align: center;
}

.card-contents
h3{
    margin-top: 1rem;
}
.card-contents
p{
    padding: 0.9rem;
}

.button{
    display: inline-block;
    cursor: pointer;
    width: 50%;
    border: none;
    font-size: 16px;
    padding: 0.6rem;
    margin: 0.9rem 0.2rem;
    background: rgba(0, 194, 255, 0.4);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    text-transform: capitalize;

}
